@import url('https://fonts.googleapis.com/css2?family=Montserrat:display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:display=swap');

.signin-page{
    width: 100%;
    height: 776px;
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: var(--signin--right--page--background--color);

    &__left-section{
        width: 50%;
        border-top: 776px solid var(--blue--theme--main--color);
        border-right: 150px solid var(--signin--right--page--background--color);

        &__logo{
            
            &__base-main{
                position: absolute;
                top: 54px;
                left: 61px;
                width: 80px;
                height: 80px;
            }

            &__base-extract{
                position: absolute;
                width: 82px;
                height: 22px;
                top: 82px;
                left: 59px;
            }
        }

        &__heading{
            position: absolute;
            top: 388px;
            left: 196px;
            font-size: 72px;
            line-height: 88px;
            font-family: 'Montserrat', sans-serif;
            color: #ffffff;
            font-weight: 700;
        }

        &__contacts-frame{
            position: absolute;
            top: 700px;
            left: 144.5px;
            width: 299px;
            height: 48px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            img{
                width: 36px;
                height: 36px;
            }
        }

    }

    &__right-section{
        width: 50%px;
        height: 1024px;

        &__signin-form{
            width: 423px;
            position: absolute;
            top: 150px;
            left: 820px;

            &__heading{
                font-family: 'Montserrat', sans-serif;
                font-size: 36px;
                line-height: 44px;
                font-weight: 700;
            }

            &__sub-heading{
                font-size: 14px;
                line-height: 19px;
                font-family: 'Lato', sans-serif;
                margin-top: 10px;
                }

            &__accounts{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin-top: 40px;

               &__icon{
                    width: 197px;
                    height: 33px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items: center;
                    background-color: var(--white--theme--background--color);
                    border-radius: 10px;

                    img{
                        width: 15.4px;
                        height: 15.4px;
                    }

                    p{
                        font-family: 'Montserrat', sans-serif;
                        font-size: 12px;
                        line-height: 15px;
                        font-weight: 400;
                        color: #858585;
                    }
                }
            }

            &__form{
                width: 422px;
                height: 390px;
                border: 1px;
                font-family: 'Lato', sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #000000;
                margin-top: 40px;

                &__container{
                    border-radius: 10px;
                    width: 100%;
                    height: 360px;
                    padding: 30px;
                    background: #ffffff;

                    &__form-content{
                        
                        height: 70px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        margin-bottom: 30px;
                    
                        label{
                            width: 105px;
                            height: 21px;
                        }
    
                       input{
                            border-radius: 10px;
                            width: 357px;
                            height: 48px;
                            background-color: var(--table--background--color);
                            border: none;
                            padding: 10px;
                        }

                    }

                    p{
                        color: var(--blue--theme--main--color);
                        margin-bottom: 30px;
                        cursor: pointer;
                    }
    
                    button{
                        width: 357px;
                        height: 44px;
                        text-align: center;
                        border: none;
                        border-radius: 10px;
                        background-color: #346BD4;
                        color: #ffffff;
                        font-size: 16px;
                        line-height: 19.5px;
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 500;
                        cursor: pointer;
                    }
                }
                
                &__register-text{
                    margin-top: 10px;
                    text-align: center;
                    color: #858585;
                    span{
                        color: var(--blue--theme--main--color);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 360px){
    .signin-page{
        width: 360px;
        height: 770px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__left-section{
            height: 120px;
            width: 100%;
            background-color: var(--blue--theme--main--color);
            border: none;

            &__logo{

                &__base-main{
                    position: absolute;
                    top: 27px;
                    left: 20px;
                    width: 26px;
                    height: 26px;
                }
    
                &__base-extract{
                    position: absolute;
                    width: 27px;
                    height: 7.15px;
                    top: 36.5px;
                    left: 19.35px;
                }
            }

            &__heading{
                position: absolute;
                top: 27px;
                left: 57px;
                font-size: 20px;
                line-height: 27.28px;
                font-family: 'Nunito', sans-serif;
                color: #ffffff;
                font-weight: 200;
            }

            &__contacts-frame{
                position: absolute;
                top: 724px;
                left: 97px;
                width: 166px;
                height: 30px;

                img{
                    width: 28px;
                    height: 28px;
                    filter: contrast(0);
                }
            }
        }
        
        &__right-section{
            width: 360px;

            &__signin-form{
                position: absolute;
                top: 109px;
                left: 16px;
                width: 328px;

                &__heading{
                    font-size: 24px;
                    line-height: 29px;
                }
    
                &__sub-heading{
                    font-size: 12px;
                    line-height: 14.4px;
                    margin-top: 10px;
                }
                
                &__accounts{

                    &__icon{
                        width: 153.35px;
                    }
                }

                &__form{
                    width: 328px;
                    height: 430px;

                    &__container{

                        padding: 25.56px;                        

                        &__form-content{
                            
                            input{
                                width: 276.88px;
                            }
                        }
                    }

                    button{
                        width: 276.88px;
                    }

                    &__register-text{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;
                        height: 54px;
                    }
                }

            }
            
        }

    }
}