.user-page{
    display: flex;
    flex-direction: row;
    position: relative;
    height: 1200px;
  }

  
  @media only screen and (max-width: 360px){
    .user-page{
      height: 776px;
      flex-direction: column;
    }

  }
  