@import url('https://fonts.googleapis.com/css2?family=Nunito:display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;   
}

:root{
    --blue--theme--main--color : #605BFF;
    --white--theme--background--color : #ffffff;
    --heading--title--color : #030229;
    --navbar--text--color : #9A9AA9;
    --mainpage-background--color: #FAFAFB;
    --table--background--color: #F5F5F5;
    --signin--right--page--background--color: #F8FAFF
}