.main-section-error-page{
    position: relative;
    width: 100%;
    height: 776px;
    padding: 0 16px;
    background: var(--mainpage-background--color);

    &__not-found{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 218px;
        left: 45%;

        &__error-status{
            font-size: 200px;
            color: var(--blue--theme--main--color );
        }
    }
}

@media only screen and (max-width: 360px){
    .main-section-error-page{
        &__not-found{
            left: 40px;
            top: 300px;

            &__error-status{
                font-size: 100px;
            }
        }
    }
}